body{
	background-color: hsl(0, 0%, 15%);
}

.logo {
	width: 100%;
	height: 200px;
	background-color: dodgerblue;
	background-image: url(/img/header.jpg);
	background-size: cover;
	background-position: center;
}