body {
	display: flex;
	justify-content: space-around;
	margin-top: 0;
	background-color: hsl(0, 0%, 15%);
}

body header {
	display: flex;
	width: 100%;
	min-height: 300px;
	max-width: 1260px;
	max-height: 50%;
	flex-direction: column;
	justify-content: space-around;
	background: url('../img/back.jpg');
	/* background-size: cover; */
	background-position: center;
}

body header nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

body header nav>a {
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	color: white;
}

body header nav>a img {
	width: 100px;
	height: 100px;
	margin-right: 15px;
	vertical-align: middle;
	border-radius: 50px;
}

body header nav .logo:hover img {
	border-radius: 10px;
}

body header nav menu {
	display: flex;
	list-style: none;
	text-transform: uppercase;
}

body header nav menu li {
	padding-left: 15px;
	letter-spacing: 0.1em;
}

body header nav menu li>a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	text-shadow: 0px 0px 10px black;
}

body header nav menu li>a:hover {
	color: #ff002a;
	border-bottom: #ff002a solid 5px;
}

.mainText {
	text-align: center;
	color: white;
	text-shadow: 0px 0px 10px #000;
}

.mainText h1 {
	/* text-transform: uppercase; */
	font-size: 50px;
	font-weight: bold;
}

span {
	color: #ff002a;
}

.mainText p {
	font-size: 22px;
	font-weight: normal;
}

.mainText a {
	margin-top: 50px;
	padding: 12px 28px;
	border: 2px solid #ff002a;
	border-radius: 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	color: #ff002a;
}

.mainText a:hover {
	background-color: #ff002a;
	color: white;
}

.botHeader {
	display: flex;
	justify-content: center;
}

.botHeader a {
	display: flex;
	justify-content: center;
	width: 45px;
	height: 45px;
	font-size: 30px;
	text-decoration: none;
	color: white;
	border-radius: 50%;
	background-color: ff002a;
}

.botHeader a:hover {
	opacity: .7;
}