body{
	background-color: hsl(0, 0%, 15%);
}

.logo {
	width: 1140px;
	height: 300px;
	background-color: dodgerblue;
	background-image: url(/img/logo.jpg);
	background-size: cover;
	background-position: center;
}